/* header */
.navbar {
    background-color: #333;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-block;
    margin-right: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

/* header */

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 20px;
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
}
