/* header */
.navbar {
    background-color: #333;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-block;
    margin-right: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

/* header */


body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


h1 {
    font-size: 36px;
    color: #007bff;
    margin-bottom: 20px;
}

.produit {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.produit img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.stock-status {
    font-size: 18px;
    color: green;
}

.stock-status.out-of-stock {
    color: red;
}

.comment {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.comment p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.comment .Form {
    margin-top: 20px;
}

.comment form {
    margin-top: 20px;
}

.comment form input[type="text"],
.comment form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.comment form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.comment form button:hover {
    background-color: #0056b3;
}
